<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 pl-0">
            <div class="">
                <p class="mb-4 ml-5 mt-5">
                    <img src="assets/img/svg/logo.svg" alt="">
                
                </p>
               
                <p class="px-5 pb-5">
                    <img src="assets/img/svg/login-frame.svg" class="img-fluid" alt="login">
                </p>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="login-container">
                <p class="text-center fc-purple fs-25">Sign in to your account</p>
                <div class="inner">
                    <input type="text" placeholder="Email Address" class="form-control login-form mb-4">
                    <div class="input-group login-form mb-4">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        <div class="input-group-append pr-3">
                            <i class="far fa-eye" id="togglePassword"></i>
                        </div>
                    </div>
                    <p class="text-right fc-purple ff-r fs-12">
                        <a [routerLink]="['/forgot-password']" class="fc-purple ff-r fs-12">Forgot password?</a>
                    </p>
                    <a [routerLink]="['/app']">
                        <button class="btn btn-purple w-100 mb-5">Log in to your account</button>
                    </a>
                    <p class="text-center ff-r fs-12 fc-grey">Dont have an account? <a [routerLink]="['/signup']" class="fc-purple">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>