<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 pl-0">
            <div class="purple-container">
                <p class="mb-4 mt-5">
                    <img src="assets/img/svg/white-logo.svg" alt="">
                
                </p>
                <div class="pr-lg-5">
                    <p class="text-white fw-7 ff-r fs-20 pr-lg-5">
                        Save toward a goal while<br>
                        having multiple investment
                        options
                    </p>
                </div>
                <p class="pb-5">
                    <img src="assets/img/login.png" alt="">
                </p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="login-container">
                <p class="text-center fc-purple fs-25">Log in to your account</p>
                <div class="inner">
                    <input type="text" placeholder="Email Address" class="form-control login-form mb-4">
                    <div class="input-group login-form mb-4">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        <div class="input-group-append pr-3">
                            <i class="far fa-eye" id="togglePassword"></i>
                        </div>
                    </div>
                    <p class="text-right fc-purple ff-r fs-12">
                        <a [routerLink]="['/forgot-password']" class="fc-purple ff-r fs-12">Forgot password?</a>
                    </p>
                    <button class="btn btn-purple w-100 mb-5">Log in to your account</button>
                    <p class="text-center ff-r fs-12 fc-grey">Dont have an account? <a [routerLink]="['/signup']" class="fc-purple">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>