<div class="container" *ngIf="resetPassword">
    <div class="row">
        <div class="col-12 pt-5">
            <p>
                <img src="assets/img/svg/logo.svg" alt="">
            </p>
        </div>
        <div class="col-lg-12">
            <div class="reset-container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <p class="fc-purple fs-42 ff-r fw-5">
                            Reset your<br>
                            password
                        </p>
                        <p class="fc-purple ff-r fs-20 fw-7">
                            We’ve got you!
                        </p>
                        <p class="fc-grey ff-r fs-14">
                            Kindly put in your email address . We’ll send<br>
                            you a link, follow the link to reset your password  
                        </p>
                    </div>
                    <div class="col-lg-7">
                        <div class="inner">
                            <input type="email" placeholder="Email Address" class="form-control login-form mb-4"
                                [(ngModel)]="email">


                            <button class="btn btn-purple w-100 mb-5" (click)="sendEmail()">Send Reset Link</button>
                            <p class="text-center ff-r fs-12 fc-grey">Need help? <a class="fc-purple">Contact us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container" *ngIf="resetSuccess">
    <div class="row">
        <div class="col-lg-12 pt-5">
            <p class="text-center">
                <img src="assets/img/svg/logo.svg" alt="">
            </p>
        </div>
        <div class="col-lg-12">
            <div class="reset-container">
                <p class="text-center fc-purple fs-42 ff-r">Check your inbox!</p>
                <p class="text-center fc-grey fs-14 ff-r">
                    A link has been sent to your email, follow this<br>
                    link to reset your password
                </p>
            </div>
        </div>
    </div>
</div>