<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 pl-0">
            <div class="">
                <p class="ml-5 mt-5">
                    <img src="assets/img/svg/logo.svg" alt="">

                </p>

                <p class="px-5 py-5">
                    <img src="assets/img/svg/verify-frame.svg" class="img-fluid" height="70vh" alt="login">
                </p>
            </div>
        </div>
        <div class="col-lg-7 offset-lg-1">
            <div class="login-container">
                <p class="text-center fc-purple fs-25">Verify Account</p>
                <div class="inner">
                    <input type="text" placeholder="Verification Code" class="form-control login-form mb-4">


                    <button class="btn btn-purple w-100 mb-5">Verify Account</button>
                    <p class="text-center ff-r fs-12 fc-grey"><a class="fc-purple">Resend code?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

