<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 pl-0">
            <div class="purple-container">
                <p class="mb-5 mt-5">
                    <img src="assets/img/svg/white-logo.svg" alt="">

                </p>
                <div class="pr-lg-5">
                    <p class="text-white ff-r fs-18 pr-lg-5">
                        A verification code has been sent to your email
                        address <span class="fw-7">(olaadedamola84@gmail.com)</span> and phone
                        number <span class="fw-7">(08062764370)</span>  
                    </p>
                </div>
                <p class="pb-5 mt-5 text-center">
                    <img src="assets/img/verification.png" alt="">
                </p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="login-container">
                <div class="inner">
                    <input type="text" placeholder="Verification Code" class="form-control login-form mb-4">


                    <button class="btn btn-purple w-100 mb-5">Verify Account</button>
                    <p class="text-center ff-r fs-12 fc-grey"><a class="fc-purple">Resend code?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>