<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <p>
                <img src="assets/img/svg/logo.svg" alt="">
            </p>
        </div>
        <div class="col-lg-12">
            <div class="reset-container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <p class="fc-purple fs-42 ff-r fw-5">
                            Verify your<br>
                            account
                        </p>
                        <p class="fc-purple ff-r fs-20 fw-7">
                            We’ve got you!
                        </p>
                        <p class="fc-grey ff-r fs-14">
                            A verification code has been sent to your email<br>
                            address <span class="fc-purple">(olaadedamola84@gmail.com)</span> and phone<br>
                            number <span class="fc-purple">(08062764370)</span>  
                        </p>
                    </div>
                    <div class="col-lg-7">
                        <div class="inner">
                            <input type="text" placeholder="Verification Code" class="form-control login-form mb-4">


                            <button class="btn btn-purple w-100 mb-5">Verify Account</button>
                            <p class="text-center ff-r fs-12 fc-grey"><a class="fc-purple">Resend code?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>