<section id="home"></section>
<section id="home-inner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="fs-60 fc-purple ff-r fw-7 pt-lg-5">
          Empowering<br />
          Africans for financial possibilities
        </p>
        <p class="fs-18 fc-grey ff-r pr-lg-5">
          We are a full-fledged digital banking company, using a vast network of
          agents to serve you better. We are enabling you to build the financial
          future of your dreams by providing you with products and services that
          are tailored to your needs.
        </p>
        <p>
          <a href="" target="_blank">
            <img src="assets/img/getongoogle.png" alt="" />
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="flexible">
  <img src="assets/img/flexible.png" alt="" />
</div>

<div id="lower-section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="bridge-gap" data-aos="fade-up" data-aos-duration="1000">
          <div class="row">
            <div class="col-lg-7">
              <p class="text-white title ff-r fw-7 fs-48 pr-lg-5 mb-4">
                Bridging Gaps from both Ends
              </p>
              <p class="fs-20 ff-r text-white mb-lg-5 mb-3">
                Tellerpay is building a financial ecosystem that allows
                customers access to a variety of financial options. We're
                achieving this by creating user-centric tools like Tellerpay
                Digital banking and TellerAgent and , which provide customers
                with easy access to their money.
              </p>
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-2 col-6">
              <button
                class="btn btn-white w-100"
                [routerLink]="['/agency-banking']"
              >
                Agency banking
              </button>
            </div>
            <div class="col-lg-2 col-6">
              <button
                class="btn btn-purple w-100"
                [routerLink]="['/digital-banking']"
              >
                Digital banking
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="we-card" data-aos="fade-up" data-aos-duration="1000">
          <div class="inner a px-lg-5 pt-5 px-4">
            <div class="row">
              <div class="col-lg-10">
                <p class="title">We Know what you need</p>
                <p class="text">
                  Onboarding procedures that are simple and straightforward, as
                  well as services that are reasonable and easily available.
                  Providing people with access to a financial ecosystem that is
                  simple to use.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="we-card" data-aos="fade-up" data-aos-duration="1500">
          <div class="inner b px-lg-5 pt-5 px-4">
            <div class="row">
              <div class="col-lg-11">
                <p class="title">We make life easier</p>
                <p class="text">
                  With the help of our awesome app and a large network of
                  agents, we are able to reach a large number of people. Users
                  will have access to not just a digital banking product, but
                  also to a map of TellerAgents where they can withdraw cash at
                  any time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 more-bridge"></div>
      <div class="col-12 mb-5">
        <p class="text-center fs-48 fc-purple ff-r fw-7">More with Tellerpay</p>
      </div>
      <div
        class="col-lg-5 mb-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="300"
      >
        <img src="assets/svg/free-p2p.svg" alt="free" class="mb-3" />
        <p class="fs-25 ff-r fc-purple fw-6">
          Free P2P in the Tellerpay Ecosystem
        </p>
        <p class="fs-20 ff-r fc-purple-1">
          Users may transfer money to other Tellerpay users for free, as well as
          find and transact with a Telleragent free of charge.
        </p>
      </div>
      <div
        class="col-lg-5 offset-lg-2 mb-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="600"
      >
        <img src="assets/svg/debit-cards.svg" alt="debit-card" class="mb-3" />
        <p class="fs-25 ff-r fc-purple fw-6">Debit Cards</p>
        <p class="fs-20 ff-r fc-purple-1">
          Users of Tellerpay have the option of using both virtual and real
          cards. This means you have complete control over your money at all
          times.
        </p>
      </div>
      <div
        class="col-lg-5"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="900"
      >
        <img
          src="assets/svg/savings-and-investment.svg"
          alt="savings-and-investments"
          class="mb-3"
        />
        <p class="fs-25 ff-r fc-purple fw-6">Savings & Investments</p>
        <p class="fs-20 ff-r fc-purple-1">
          Users get access to High interest Savings and investment options.
        </p>
      </div>
      <div
        class="col-lg-5 offset-lg-2"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1200"
      >
        <img
          src="assets/svg/end-to-end-security.svg"
          alt="end-to-end"
          class="mb-3"
        />
        <p class="fs-25 ff-r fc-purple fw-6">End-to-end Security</p>
        <p class="fs-20 ff-r fc-purple-1">
          Our security technology matches that of Nigeria’s best banks. All
          funds are insured. We put your investment in the best places that
          yield the highest returns.
        </p>
      </div>

      <div class="col-12">
        <div
          class="secured-ecosystem"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="1000"
        >
          <div class="inner">
            <div class="row">
              <div class="col-lg-7 offset-lg-5">
                <p class="text-white ff-r fs-60">A secured Ecosystem</p>
                <p class="text-white ff-r fs-18 fw-4">
                  We understand that your money with us is hard earned and we
                  are committed to making your money work twice as hard as you
                  do. While you sleep, your money grows. Funds saved are
                  warehoused with our licensed bank partners and used to float
                  our agency banking products.
                </p>
                <p class="text-white ff-r fs-18 fw-4">
                  The funds actually do not go anywhere! They are just grown!
                  Invested funds are channelled towards insured, verified and
                  high yielding products and services. Such as agency banking,
                  peer to peer lending, SMEs etc. We underpromise our juicy
                  interests rates because we are committed to delivering on our
                  promises.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
