.container {
  min-width: 90vw;
}
#home {
  background: url("../../../assets/img/homebg2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100%;
  height: 100vh;
}

#home-inner {
  height: 100vh;
  width: 98vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.flexible {
  position: absolute;
  top: 66vh;
  right: 32vw;
}

.flexible img {
  height: 280px;
}

#lower-section {
  background: linear-gradient(
    180deg,
    rgba(107, 54, 143, 0) 2.08%,
    rgba(107, 54, 143, 0.06) 47.92%,
    rgba(107, 54, 143, 0) 100%
  );
  margin-top: 139;
  margin-bottom: 139;
}
.more-bridge {
  margin-bottom: 100px;
}
.bridge-gap {
  background: url("../../../assets/img/bridge-gap.png");
  background-size: cover;
  min-height: 400px;
  border-radius: 38px;
  padding: 110px 90px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.bridge-gap .title {
  max-width: 495px;
}
.we-card {
  background: #ffffff;
  border-radius: 38px;
}
.we-card .inner {
  background-size: cover;
  background-position: bottom;
  border-radius: 38px;
  min-height: 800px;
}
.we-card .inner.a {
  background: url("../../../assets/img/we-know-what-you-need.png");
}
.we-card .inner.b {
  background: url("../../../assets/img/we-make-life-easier.png");
}
.we-card .inner .title {
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 36px;
  line-height: 124.5%;
  color: #ffffff;
  color: #5c2682;
}
.we-card .inner .text {
  font-family: "Red Hat Display";
  font-size: 18px;
  line-height: 141.5%;
  color: #80718a;
}
.we-card:hover {
  background: #6b368f;
  transition: 0.3s ease-in-out;
}
.we-card:hover .inner .text,
.we-card:hover .inner .title {
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.secured-ecosystem {
  background: #5c2682;
  border-radius: 38px;
  margin-top: 180px;
  margin-bottom: 190px;
}
.secured-ecosystem .inner {
  background: url("../../../assets/img/a-secured-ecosystem.png");
  background-size: cover;
  border-radius: 38px;
  padding: 140px 66px;
}

@media (max-width: 450px) {
  #home {
    background: unset;
    background: rgba(205, 159, 237, 0.05);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
    height: 90vh;
  }

  #home-inner {
    height: 103vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../assets/img/small home.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right bottom;
    display: unset;
    align-items: unset;
    padding-top: 7em;
  }

  #home-inner p {
    text-align: center;
  }

  .flexible {
    display: none;
  }
  .bridge-gap {
    background: url("../../../assets/img/bridge-gap-small.png");
    margin-top: 120px;
    background-size: cover;
    margin-bottom: 120px;
    padding: 37px 26px;
    min-height: 650px;
  }
  .we-card .inner.a {
    background: url("../../../assets/img/we-know-what-you-need.png");
  }
  .we-card .inner.b {
    background: url("../../../assets/img/we-make-life-easier.png");
  }
  .we-card .inner.a,
  .we-card .inner.b {
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 38px;
    min-height: 550px;
  }
  .we-card .inner .title {
    font-size: 25px;
    line-height: 124.5%;
  }
  .we-card .inner .text {
    font-size: 14px;
    line-height: 141.5%;
  }
  .secured-ecosystem .inner {
    background: url("../../../assets/img/a-secured-ecosystem-small.png");
    background-size: cover;
    border-radius: 38px;
    padding: 50px 25px;
    min-height: 650px;
  }
}
