#banner {
    background: url('../../../assets/img/homebg2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100%;
    height: 100vh;
}

#banner-inner {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}


#tellersave {
    background: url("../../../assets/img/girl.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 43%;
    min-height: 100vh;
}

#tellersave .text {
    display: flex;
    min-height: 70vh;
    align-items: center;
}

#telleradvance {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../../../assets/img/man2.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    margin-top: -14vh;
}

.save-advance {
    background: rgba(205, 159, 237, 0.05);
    padding-bottom: 3em;
}

#purple-container {
    background-color: #5C2682;
}

#purple-container .inner {
    background: url("../../../assets/img/purple.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 100%;
    min-height: 50vh;
}

#gethelp {
    background-color: rgba(205, 159, 237, 0.05);
}

#gethelp .inner {
    background: url("../../../assets/img/getbg.png");
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: 40%; */
    min-height: 55vh;
    display: flex;
    align-items: center;
}



.newsbox {
    height: 106px;
    width: 100%;
}

.flexible {
    position: absolute;
    top: 66vh;
    right: 32vw;
}

.flexible img {
    height: 280px;
}

#choose-us {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

@media(max-width: 1440px) {
    #tellersave {
        background-size: 45%;
        min-height: 100vh;
    }

    #tellersave .text {
        min-height: 65vh;
    }

    #telleradvance {
        background-size: contain;
        margin-top: -14vh;
    }
}

@media(max-width: 1285px) {
    #tellersave {
        background-size: 45%;
        min-height: 100vh;
    }

    #tellersave .text {
        min-height: 65vh;
    }

    #telleradvance {
        background-size: contain;
        margin-top: -16vh;
    }
}

@media(max-width: 768px) {
    #banner {
        background: url('../../../assets/img/mdhomebg.png');
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100%;
        height: 100vh;
    }

    .flexible {
        position: absolute;
        top: 70vh;
        right: 27vw;
    }

    .flexible img {
        height: 220px;
    }
}

@media(max-width: 450px) {

    #banner {
        background: none;
        min-height: 100vh;
        background: rgba(205, 159, 237, 0.05);
        clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
    }

    #banner .inner .container {
        height: 100vh;
        display: unset;
        align-items: unset;
        padding-top: unset;
    }

    #banner .inner .container {
        height: 110vh;
        background: url('../../../assets/img/small home.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: right bottom;
    }

    #banner .inner .container {
        padding: 7em 4em;
    }

    #banner .inner .container p {
        text-align: center;
    }

    .flexible {
        display: none;
        position: unset;
    }

    .flexible img {
        height: 200px;
    }


    #purple-container .inner {
        background: url("../../../assets/img/purple.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
        min-height: 50vh;
    }

    .save-advance {
        background: none;
        padding-bottom: 2em;
    }

    #telleradvance {
        min-height: 85vh;
        display: flex;
        align-items: center;
        background: none;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
        margin-top: unset;
    }

    #telleradvance img {
        height: 250px;
    }

    #telleradvance .head {
        text-align: center;
    }

    #telleradvance .text {
        text-align: center;
    }

    #tellerspokes p {
        text-align: center;
    }

    #tellersave {
        background: url('../../../assets/img/tellersavesm.png');
        background-repeat: no-repeat;
        background-position: top left;
        /* background-size: 100%; */
        min-height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-bottom: 1em;
    }

    #tellersave .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    #tellersave .text {
        /* display: flex; */
        /* background: rgba(205, 159, 237, 0.05); */
        min-height: unset;
        /* padding-top: 2em; */
        padding-right: 1.5em;
        padding-left: 1.5em;
        /* align-items: center; */
    }

    #tellersave .text p {
        text-align: center;
    }

}