.dash-cards {
    border-radius: 5px;
}

.dash-cards.a {
    background: #5C2682;
    border-radius: 5px;
}

.dash-cards.a .inner {
    background: url('../../../../assets/img/card-1.png');
    min-height: 138px;
    padding: 25px;
    border-radius: 5px;
}

.dash-cards.b {
    background: #1685D8;
}

.dash-cards.b .inner {
    background: url('../../../../assets/img/card-2.png');
    min-height: 138px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.dash-cards.c {
    background: #10B35A;
}

.dash-cards.c .inner {
    background: url('../../../../assets/img/card-3.png');
    min-height: 138px;
    display: flex;
    align-items: center;
    padding: 25px;
}


.small-cards {
    background: #FFFFFF;
    border: 0.2px solid #5C2682;
    box-sizing: border-box;
    box-shadow: 0px 4px 15px rgba(107, 54, 143, 0.04);
    border-radius: 5px;
    padding: 15px;
}

.small-cards-2 {
    background: #FFFFFF;
    border: 0.3px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
}

.earn-card {
    background: url('../../../../assets/img/earn-mask.png');
    background-size: cover;
    box-shadow: 0px 4px 15px rgba(107, 54, 143, 0.04);
    border-radius: 5px;
}

.earn-card .inner {
    min-height: 75px;
    background: rgb(163, 41, 250, 0.2);
    border-radius: 5px;
    padding: 15px;
}


.join {
    border: 1px solid #5C2682;
    border-radius: 5px;
    background: url('../../../../assets/img/svg/join-bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.transaction{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.transaction.success {
    background: rgb(19, 240, 119, 0.1);
}

.transaction.not-success {
    background: rgb(253, 11, 11, 0.1);
}