<section id="home">

</section>
<section id="home-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p class="fs-60 fc-purple ff-r fw-7 pt-lg-5">
                    Empowering<br>
                    Africans for financial
                    possibilities
                </p>
                <p class="fs-24 fc-grey ff-r">
                    With a you-focused product and service, we are building the financial product for your future.
                    Join us today!
                </p>
                <p>
                    <a href="" target="_blank">
                        <img src="assets/img/getongoogle.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="flexible">
    <img src="assets/img/flexible.png" alt="">
</div>

<section id="choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <p class="text-center fs-48 ff-r fc-purple fw-7">
                    Why choose Tellerpay
                </p>
                <p class="fs-24 fc-purple-2 ff-r text-center">We are building a financial service that works for you.
                </p>
            </div>
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6 mb-3">
                        <p class="text-center">
                            <img src="assets/img/svg/security.svg" alt="">
                        </p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center mb-2">Topnotch</p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center">security</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6 mb-3">
                        <p class="text-center">
                            <img src="assets/img/svg/rates.svg" alt="">
                        </p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center mb-2">Better</p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center">Rates</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6 mb-3">
                        <p class="text-center">
                            <img src="assets/img/svg/support.svg" alt="">
                        </p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center mb-2">Comprehensive</p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center">Support </p>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6 mb-3">
                        <p class="text-center">
                            <img src="assets/img/svg/reliability.svg" alt="">
                        </p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center mb-2">Super</p>
                        <p class="fs-30 fc-purple fw-7 ff-r text-center">Reliability</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tellerspokes">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1 order-2 mb-3">
                <p class="fs-48 fc-purple fw-7 ff-r">TellerSpokes</p>
                <p class="fs-24 ff-r fc-purple-1">
                    Keep your money with us and we will pay you for it. Better than what your favorite savings app will
                    give you.


                </p>
                <p class="fs-24 ff-r fc-purple-1 mb-5">


                    I know that worries you but relax, it’s really not as scary as you think. At Tellerpay, we believe
                    your investments should work twice as hard as you do. Start saving.
                </p>
            </div>
            <div class="col-lg-6 order-lg-2 order-1 mb-3 py-5">
                <img src="assets/img/phone.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="save-advance">
    <section id="tellersave">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mb-3 mid-image">
                    <p class="text-center">
                        <img src="assets/img/girl1.png" alt="">
                    </p>
                </div>
                <div class="col-lg-8 offset-lg-4">
                    <div class="row">
                        <div class="col-lg-8 m-auto">
                            <p class="fs-48 fc-purple fw-7 ff-r">TellerSave</p>
                            <p class="fs-24 ff-r fc-purple-1">
                                Keep your money with us and we will pay you for it. Better than what your favorite
                                savings
                                app will give you.

                            </p>
                            <p class="fs-24 ff-r fc-purple-1">

                                I know that worries you but relax, it’s really not as scary as you think. At Tellerpay,
                                we
                                believe your investments should work twice as hard as you do. Start saving.
                            </p>
                            <p>
                                <button class="btn btn-purple px-5">Get Started</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="telleradvance">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 m-auto">
                    <div class="row align-items-center mt-lg-5">
                        <div class="col-lg-7 order-lg-1 order-2 pr-lg-5 pt-lg-5">
                            <p class="fs-48 fc-purple fw-7 ff-r pt-lg-5">TellerAdvance</p>
                            <p class="fs-24 ff-r fc-purple mb-5">
                                Emergencies don’t come only at the end of the month. We will provide the buffer you need
                                to
                                sort your pressing needs and we can pay us back when your salary comes in.
                            </p>
                            <p>
                                <button class="btn btn-purple px-5">Get Started</button>
                            </p>

                        </div>
                        <div class="col-lg-5 px-3 order-lg-2 order-1 d-lg-none">
                            <p class="text-center mb-5">
                                <img src="assets/img/small man.png" class="img-fluid" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<section id="purple-container">
    <div class="inner">
        <div class="container py-5">
            <div class="col-lg-6 offset-lg-6">
                <p class="text-white fs-42 ff-r fw-5">How secure are your savings and investments?</p>
                <p class="text-white ff-r fs-24 fw-4">

                    We understand how difficult it is to make money in 2020 Nigeria. We know how particular you are with
                    keeping your money safe and secure for a long haul



                </p>
                <p class="text-white ff-r fs-24 fw-4">

                    Our security technology matches that of Nigeria’s best banks
                    All funds saved with us are insured
                    We put your investment in the best places that yields the highest returns.

                </p>
            </div>
        </div>
    </div>
</section>

<section id="gethelp">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto py-5">
                    <p class="fs-36 fc-purple fw-7 text-center mb-4">
                        Get the help you need on your journey to financial
                        liberty
                    </p>
                    <p class="fs-24 fc-purple ff-r text-center mb-4">
                        65% of folks aged 18-40 reach their financial goals through tailor-made wealth support. Let’s
                        support you on your journey to financial prosperity.
                    </p>
                    <p class="text-center">
                        <button class="btn btn-purple px-5">Get Started</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="news">
    <div class="container py-5">
        <div class="row py-lg-5">
            <div class="col-lg-10 m-auto">
                <p class="fs-48 fc-purple ff-r fw-7 text-center">We are in the news</p>
            </div>
            <div class="col-lg-12">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 2.png" alt="">
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 3.png" alt="">
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 4.png" alt="">
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 5.png" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>