<section id="home">

</section>
<section id="home-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="fs-60 fc-purple ff-r fw-7 pt-lg-5">
                    Empowering<br>
                    Africans for financial
                    possibilities
                </p>
                <p class="fs-18 fc-grey ff-r pr-lg-5">
                    We are a full agency and digital banking company. With you-focused
                    products and services, we are
                    helping you build the financial future of your dreams.
                </p>
                <p>
                    <a href="" target="_blank">
                        <img src="assets/img/getongoogle.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="flexible">
    <img src="assets/img/flexible.png" alt="">
</div>

<section id="choose-us">
    <div class="container mt-5 mt-lg-0">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <p class="text-center fs-48 ff-r fc-purple fw-7">
                    Digital Banking with Tellerpay
                </p>
                <p class="fs-24 fc-purple-2 ff-r text-center">We are building a financial service that works for you.
                </p>
            </div>
            <div class="col-lg-11 m-auto">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12 mb-3">
                        <div class="card digital-cards">
                            <img src="assets/img/Free Transfers Illustration-01.png" class="card-img-top" alt="">
                            <div class="card-body pt-5 pb-4">
                                <p class="ff-r fc-purple fs-20 fw-7">Fast Transfers</p>
                                <p class="ff-r fc-grey fs-12">
                                    Sending money has never been easier. Make unlimited cheapest transfers for as low as
                                    #15 per transaction on any amount to any bank.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 mb-3">
                        <div class="card digital-cards">
                            <img src="assets/img/Physical Cards Illustration-01.png" class="card-img-top" alt="">
                            <div class="card-body pt-5 pb-4">
                                <p class="ff-r fc-purple fs-20 fw-7">Physical Cards</p>
                                <p class="ff-r fc-grey fs-12">
                                    Sign up for your debit cards right on the app! Stress-free, and at very little
                                    charge. Use your cards for POS payments, at ATMs and so much more.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 mb-3">
                        <div class="card digital-cards">
                            <img src="assets/img/Virtual Cards Illustration-01.png" class="card-img-top" alt="">
                            <div class="card-body pt-5 pb-4">
                                <p class="ff-r fc-purple fs-20 fw-7">Virtual Cards</p>
                                <p class="ff-r fc-grey fs-12">
                                    Virtual dollar and naira cards for all online related transactions. Remove the need
                                    the whip out your physical card when shopping at your favorite online stores!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="purple-linear">
   
    
    
</div> -->


<section id="" class="mb-3 py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 m-auto">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-3">
                        <img src="assets/img/newman.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 pr-lg-5">
                        <p class="fs-48 fc-purple fw-7 ff-r">Lock away some funds</p>
                        <p class="fs-20 ff-r fc-purple-1">
                            Tellerpay brings you secure opportunities and allows you to earn up to 10% interest on your
                            savings. If you choose to lock funds away for a period of time, you can earn up to 17%
                            interest! Let your money earn you more money!
                        </p>
                        <p>
                            <button class="btn btn-purple px-5">Get Started</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tellerspokes">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-11 m-auto">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2 mb-3">
                        <p class="fs-48 fc-purple fw-7 ff-r">Loans and Overdrafts</p>
                        <p class="fs-20 ff-r fc-purple-1 pr-lg-5">
                            Life happens unexpectedly, we know. That’s why we have low-interest loans available for you.
                            The more you bank with us, the lower the interest rate!
                        </p>
                        <p>
                            <button class="btn btn-purple px-5">Get Started</button>
                        </p>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 mb-3 py-5 pl-0">
                        <img src="assets/img/loans.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-11 m-auto">
                <div class="row align-items-center">
                    <div class="col-lg-5 mb-3 pl-lg-0">
                        <img src="assets/img/spokes.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <p class="fs-48 fc-purple fw-7 ff-r">TellerSpokes</p>
                        <p class="fs-20 ff-r fc-purple-1 pr-lg-5">
                            This is our technology-powered kiosk banking solutions strategically positioned in
                            underbanked communities. You can walk in to any of our shops and perform any financial
                            transactions. Are you an organisation looking forward to empower your members? or are you
                            looking at owning agents shops of your own? Then, Tellerspokes is just for you…. Seamless
                            profitable venture.
                        </p>
                        <p>
                            <button class="btn btn-purple px-5">Get Started</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="tellerspokes">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 m-auto">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2 mb-3">
                        <p class="fs-48 fc-purple fw-7 ff-r">Pay your bills for free</p>
                        <p class="fs-20 ff-r fc-purple-1 pr-lg-5">
                            Make easy utility bill payments on the Tellerpay app. Pay for your electricity, recharge
                            your phone, fund your bet wallets on the go!
                        </p>
                        <p>
                            <a href="" target="_blank">
                                <img src="assets/img/getongoogle.png" alt="">
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-6 order-lg-2 order-1 mb-3 py-5">
                        <img src="assets/img/paybills.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-11 m-auto">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-3 mid-image">
                        <img src="assets/img/phone.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6">
                        <p class="fs-48 fc-purple fw-7 ff-r">Tellerpay Agent app</p>
                        <p class="fs-20 ff-r fc-purple-1 pr-lg-5">
                            Tellerpay’s solution to the problem of financial inclusion, Spokes agents render traditional
                            digital banking services to underserved areas. Visit a Spokes agent to withdraw and deposit
                            cash, make your bills and utility payments and so much more.

                        </p>
                        <p>
                            <button class="btn btn-purple px-5">Get Started</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="save-advance">
    <div class="inner">
        <div class="row">
            <div class="col-sm-7 m-auto">
                <p class="text-center fs-48 ff-r fw-9 fc-purple mb-2">
                    Unique Virtual cards!

                </p>
                <p class="text-center fs-48 ff-r fw-9 fc-purple-3">
                    Complete your transactions
                    with the tellerpay cards
                </p>

            </div>
            <div class="col-sm-8 m-auto">
                <p class="text-center fs-25 ff-r fc-grey">
                    Sign up for your virtual card right on the app! Stress-free, and at no charge. Use your virtual card
                    to make seamless payments at your favorite online store.
                </p>
                <p class="text-center">
                    <button class="btn btn-purple px-5 mt-4">Get Started</button>
                </p>
                <p class="text-center">
                    <img src="assets/img/cards.png" alt="" class="img-fluid">
                </p>
            </div>
        </div>
    </div>
</section>


<section id="purple-container">
    <div class="inner">
        <div class="container py-5">
            <div class="col-lg-6 offset-lg-6">
                <p class="text-white fs-42 ff-r fw-5">How secure are your savings and investments?</p>
                <p class="text-white ff-r fs-24 fw-4">

                    We understand how difficult it is to make money in 2020 Nigeria. We know how particular you are with
                    keeping your money safe and secure for a long haul



                </p>
                <p class="text-white ff-r fs-24 fw-4">

                    Our security technology matches that of Nigeria’s best banks
                    All funds saved with us are insured
                    We put your investment in the best places that yields the highest returns.

                </p>
            </div>
        </div>
    </div>
</section>

<section id="gethelp">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 px-4 m-auto py-5">
                    <p class="fs-60 fc-purple-3 fw-9 ff-r text-center mb-4">
                        Get the help you need on your journey to <span class="fc-purple">Financial Liberty. <br />
                            <span class="tx-u">Get Started for Free>></span></span>

                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="news">
    <div class="container py-5">
        <div class="row py-lg-5">
            <div class="col-lg-10 m-auto">
                <p class="fs-48 fc-purple ff-r fw-7 text-center">We are in the news</p>
            </div>
            <div class="col-lg-12">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 2.png" alt="">
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 3.png" alt="">
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 4.png" alt="">
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <p class="text-center">
                            <img class="img-fluid" src="assets/img/image 5.png" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>