<div class="px-5 py-5">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="d-flex justify-content-end">
                <div>
                    <button class="btn btn-purple-sm">Add Money</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="dash-cards a">
                <div class="inner">
                    <div class="d-flex">
                        <div class="mr-3">
                            <img src="assets/img/svg/savings.svg" alt="">
                        </div>
                        <div>
                            <p class="mb-1 ff-r fs-10 fw-5 text-uppercase text-white">Total Savings</p>
                            <p class="ff-r fs-25 text-white m-0">₦510,000.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="dash-cards b">
                <div class="inner">
                    <div class="d-flex">
                        <div class="mr-3">
                            <img src="assets/img/svg/investment.svg" alt="">
                        </div>
                        <div>
                            <p class="mb-1 ff-r fs-10 fw-5 text-uppercase text-white">Total Savings</p>
                            <p class="ff-r fs-25 text-white m-0">₦510,000.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="dash-cards c">
                <div class="inner">
                    <div class="d-flex">
                        <div class="mr-3">
                            <img src="assets/img/svg/wallet.svg" alt="">
                        </div>
                        <div>
                            <p class="mb-1 ff-r fs-10 fw-5 text-uppercase text-white">Total Savings</p>
                            <p class="ff-r fs-25 text-white m-0">₦510,000.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="row">
                <div class="col-12 mb-3">
                    <p class="fw-5 fs-14 ff-r fc-purple-1">Create new savings and investment plan</p>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="small-cards">
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/img/svg/sharp.svg" alt="">
                            </div>
                            <div>
                                <div class="fc-purple fs-12 ff-r">Sharp Sharp Plan</div>
                                <div class="fc-purple-1 ff-r fs-10">Earn up to 10% interest rate</div>
                            </div>
                            <div class="ml-auto">
                                <a href="javascript:void(0)"><img src="assets/img/svg/arrow-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="small-cards">
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/img/svg/hustler.svg" alt="">
                            </div>
                            <div>
                                <div class="fc-purple fs-12 ff-r">Hustler Plan</div>
                                <div class="fc-purple-1 ff-r fs-10">Earn up to 10% interest rate</div>
                            </div>
                            <div class="ml-auto">
                                <a href="javascript:void(0)"><img src="assets/img/svg/arrow-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="small-cards">
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <img src="assets/img/svg/investor.svg" alt="">
                            </div>
                            <div>
                                <div class="fc-purple fs-12 ff-r">Investor Plan</div>
                                <div class="fc-purple-1 ff-r fs-10">Earn up to 10% interest rate</div>
                            </div>
                            <div class="ml-auto">
                                <a href="javascript:void(0)"><img src="assets/img/svg/arrow-right.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <p class="fw-5 fs-14 ff-r fc-purple-1">Saving score</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="small-cards">
                        <div class="fw-7 fc-purple fs-25 ff-r">
                            50%
                        </div>
                        <div class="fs-10 fc-purple-1 ff-r">Save more to keep growing your saving score</div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <div class="earn-card">
                        <div class="inner">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="text-white ff-r fs-20 fw-7">Earn Money!</div>
                                    <div class="text-white ff-r fs-10 fw-4">Earn money while saving money</div>
                                </div>
                                <div>
                                    <img src="assets/img/svg/gift.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4"></div>
    </div>
</div>