<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="assets/img/svg/logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/img/svg/menuicon.svg" alt="">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active mx-lg-3">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item mx-lg-3">
                    <a class="nav-link" href="#">Become an agent</a>
                </li>
                <li class="nav-item mx-lg-3">   
                    <a class="nav-link" href="#">Get loan</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-login my-2 my-sm-0 mr-sm-3 px-5 mr-2">Login</button>
                <button class="btn btn-signin my-2 my-sm-0">Create account</button>
            </form>
        </div>
    </div>
</nav>