<section id="abouthome">
  <div class="container">
    <div class="col-lg-9 m-auto">
      <p class="ff-r fs-60 fw-7 fc-purple text-center" data-aos="fade-up" data-aos-duration="200">
        We created an Ecosystem of Financial Technology
      </p>
    </div>
    <div class="col-lg-8 m-auto">
      <p class="ff-r fs-18 fc-grey text-center" data-aos="fade-up" data-aos-duration="400">
        We are a full agency and digital banking company. With you-focused
        products and services, we are helping you build the financial future of
        your dreams.
      </p>
    </div>
  </div>
</section>

<section id="story">
  <div class="container mb-5">
    <div class="row py-5">
      <div class="col-lg-8 m-auto">
        <p class="text-center ff-r fs-60 fc-purple fw-9" data-aos="fade-up" data-aos-duration="200">Our Story</p>
        <p class="text-center fc-grey fs-18" data-aos="fade-up" data-aos-duration="400">
          There once was a group of young talented Nigerians, quietly minding
          their various businesses.
        </p>
        <p class="text-center fc-grey fs-18" data-aos="fade-up" data-aos-duration="600">
          Then one day, they realized that they had a common problem, a big one
          that they could do something about; unfriendly, inaccessible and
          expensive banking services.
        </p>
        <p class="text-center fc-grey fs-18" data-aos="fade-up" data-aos-duration="800">
          So they did something; they created Tellerpay, A full agency and
          digital bank, at your beck and call, to make all your banking needs
          easily accessible and affordable.
        </p>
        <p class="text-center fc-grey fs-18" data-aos="fade-up" data-aos-duration="1000">
          Built by Africans for Africans, Tellerpay is here to make high banking
          fees go away forever!High-interest savings and investments,
          low-interest loans, utility bill payments, no banking fees, all on one
          app.
        </p>
        <p class="text-center fc-grey fs-18" data-aos="fade-up" data-aos-duration="1200">
          Sounds like a dream, but it’s real. It’s here NOW! No matter where you
          are in Nigeria, our products will be available for all your banking
          needs. If you do not have access to an internet enabled mobile device,
          simply walk up to any of our agent locations across the country and
          you will be promptly sorted out.❤️
        </p>
      </div>
    </div>
  </div>
</section>
<section id="amazing">
  <div class="inner">
    <div class="container">
      <div class="row ">
          <div class="col-lg-6">
            <p class="text-white fs-60 ff-r fw-7">We have an Amazing Team</p>
            <p class="text-white fs-18 ff-r">
              We are a full agency and digital banking company. With you-focused
              products and services, we are helping you build the financial future of
              your dreams.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="amaze"></div>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="gethelp">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto py-5">
          <p class="fs-60 fc-purple-3 fw-9 ff-r text-center mb-4">
            Get the help you need on your journey to
            <span class="fc-purple"
              >Financial Liberty. <br />
              <span class="tx-u">Get Started for Free>></span></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
