
#gethelp {
    background-color: rgba(205, 159, 237, 0.05);
}

#gethelp .inner {
    background: url("../../../assets/img/getbg.png");
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: 40%; */
    min-height: 60vh;
    display: flex;
    align-items: center;
}
#abouthome{
    background: url('../../../assets/img/aboutus-bg.png');
    height: 85vh;
    display: flex;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#amazing{
    background: rgba(92, 38, 130, 1);
}
#amazing .inner{
    background: url('../../../assets/img/amazing-team.png');
    min-height: 450px;
    background-size: contain;
    display: flex;
    align-items: center;
}

@media(max-width: 430px) {
    #abouthome{
        background: url('../../../assets/img/aboutus-bg-small.png');
        height: 85vh;
        display: flex;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    #amazing .inner{
        background: none;
        padding: 41px 37px;
    }
    #amazing .amaze{
        background: url('../../../assets/img/amazing-team-small.png');
        min-height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
}