<section id="first">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text">
          <p class="fs-60 fc-purple ff-r fw-7 pt-lg-5">
            One app for all<br />
            things money
          </p>
          <p class="fs-22 fc-grey ff-r mb-4">
            Using the Tellerpay Digital banking product, you have access to
            major products such as Transfer, Cards, Loans, Savings, Bills and
            More...
          </p>
          <p>
            <a
              href="https://play.google.com/store/apps/details?id=ng.tellerpay.telleragent"
              target="_blank"
            >
              <img src="assets/img/getongoogle.png" alt="" />
            </a>
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="picture"></div>
      </div>
    </div>
  </div>
</section>

<section id="choose-us">
  <div class="container mt-5 mt-lg-0">
    <div class="row">
      <div class="col-lg-12 mb-4" data-aos="fade-up" data-aos-duration="300">
        <p class="text-center fs-48 ff-r fc-purple fw-7">
          Digital Banking with Tellerpay
        </p>
        <p class="fs-24 fc-purple-2 ff-r text-center">
          We are building a financial service that works for you.
        </p>
      </div>
      <div class="col-lg-11 m-auto">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12 mb-3">
            <div class="card digital-cards" data-aos="fade-up" data-aos-duration="600">
              <img
                src="assets/img/Free Transfers Illustration-01.png"
                class="card-img-top"
                alt=""
              />
              <div class="card-body pt-5 pb-4">
                <p class="ff-r fc-purple fs-20 fw-7">Fast Transfers</p>
                <p class="ff-r fc-grey fs-12">
                  Sending money has never been easier. Make unlimited cheapest
                  transfers for as low as #15 per transaction on any amount to
                  any bank.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 mb-3">
            <div class="card digital-cards" data-aos="fade-up" data-aos-duration="900">
              <img
                src="assets/img/Physical Cards Illustration-01.png"
                class="card-img-top"
                alt=""
              />
              <div class="card-body pt-5 pb-4">
                <p class="ff-r fc-purple fs-20 fw-7">Physical Cards</p>
                <p class="ff-r fc-grey fs-12">
                  Sign up for your debit cards right on the app! Stress-free,
                  and at very little charge. Use your cards for POS payments, at
                  ATMs and so much more.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12 mb-3">
            <div class="card digital-cards" data-aos="fade-up" data-aos-duration="1200">
              <img
                src="assets/img/Virtual Cards Illustration-01.png"
                class="card-img-top"
                alt=""
              />
              <div class="card-body pt-5 pb-4">
                <p class="ff-r fc-purple fs-20 fw-7">Virtual Cards</p>
                <p class="ff-r fc-grey fs-12">
                  Virtual dollar and naira cards for all online related
                  transactions. Remove the need the whip out your physical card
                  when shopping at your favorite online stores!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="get-started">
  <div class="row align-items-center">
    <div class="col-lg-5 offset-lg-1">
      <div class="txt">
        <p class="text-white fs-48 ff-r fw-7">
          Get Started<br />
          fast and easy
        </p>
        <p class="text-white fs-24 ff-r">
          On Tellerpay, the onboarding is swift and get your account number once
          your account is created.
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="inner"></div>
    </div>
  </div>
</section>
<section id="purple-bg">
  <div class="container">
    <div id="send-and-receive" data-aos="fade-up" data-aos-duration="600">
      <div class="a">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <p class="fc-purple ff-r fs-42 fw-7">
              Send and Receive Money in Real Time
            </p>
            <p class="fc-purple-1 ff-r fs-22">
              On Tellerpay, the onboarding is swift and get your account number
              once your account is created.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="send-and-receive" data-aos="fade-up" data-aos-duration="600">
      <div class="b">
        <div class="row">
          <div class="col-lg-6">
            <p class="fc-purple ff-r fs-42 fw-7">
              You don’t always need an ATM for Cash
            </p>
            <p class="fc-purple-1 ff-r fs-22 tx">
              With the Tellerpay Agent peer to peer feature, you can get cash
              even when you don’t see an ATM around you
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="send-and-receive" data-aos="fade-up" data-aos-duration="600">
      <div class="c">
        <div class="row">
          <div class="col-lg-7 offset-lg-5">
            <p class="fc-purple ff-r fs-42 fw-7">
              Complete your transactions with the tellerpay cards
            </p>
            <p class="fc-purple-1 ff-r fs-22 tx">
              Sign up for your virtual card right on the app! Stress-free, and
              at no charge. Use your virtual card to make seamless payments at
              your favorite online store.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="download">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center fc-grey ff-r fs-24">DOWNLOAD THE MOBILE APP AND</p>
    </div>
    <div class="col-lg-12">
      <p class="fw-7 ff-r fc-purple fs-42 text-center">
        Get started on TellerPay
      </p>
    </div>
    <div class="col-lg-4 m-auto">
      <div class="row">
        <div class="col-6">
          <a
            href="https://play.google.com/store/apps/details?id=ng.tellerpay.telleragent"
            target="_blank"
          >
            <img src="assets/img/getongoogle2.png" class="img-fluid" alt="" />
          </a>
        </div>
        <div class="col-6">
          <a href="" target="_blank">
            <img src="assets/img/getonapp.png" class="img-fluid" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
