<section id="first">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="text">
          <p class="fs-60 fc-purple ff-r fw-7 pt-lg-5" data-aos="fade-up" data-aos-duration="200">
            Built for<br />
            entrepreneurs
          </p>
          <p class="fs-22 fc-grey ff-r" data-aos="fade-up" data-aos-duration="400">
            Being a Tellerpay agent means bringing essential financial services
            to the doorstep of your local community. Even better, you make money
            while doing this heroic work.
          </p>
          <p data-aos="fade-up" data-aos-duration="600">
            <a
              href="https://play.google.com/store/apps/details?id=ng.tellerpay.telleragent"
              target="_blank"
            >
              <img src="assets/img/getongoogle.png" alt="" />
            </a>
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="picture"></div>
      </div>
    </div>
  </div>
</section>
<section id="agent">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-5 order-1"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="1500"
      >
        <p class="fs-60 fc-purple ff-r fw-7 pt-lg-5">
          What do you do as an Agent?
        </p>
        <p class="fs-24 fc-grey ff-r">
          As a Tellerpay Agent, your job will be to make important financial
          services readily available to local community members.
        </p>
      </div>
      <div class="col-lg-7 order-2 p-5">
        <p class="p-5">
          <!-- <img src="assets/img/agent-does.png" class="img-fluid" alt="" /> -->
        </p>
      </div>
    </div>
  </div>
</section>
<section id="financial">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 mb-4">
        <p class="text-center fs-48 ff-r fc-purple fw-7">
          Financial services like
        </p>
      </div>
      <div class="col-lg-4 mb-3" data-aos="fade-up" data-aos-duration="300">
        <p class="text-center img">
          <img src="assets/img/svg/transfers.svg" alt="" />
        </p>
        <p class="text-center fs-30 fc-purple fw-7 ff-r">Transfers</p>
        <p class="text-center fs-18 fc-grey fw-4 ff-r">
          You will be able to help community members send money to their loved
          ones or wherever they need it to go.
        </p>
      </div>
      <div class="col-lg-4 mb-3" data-aos="fade-up" data-aos-duration="600" data-aos-anchor-placement="top-bottom">
        <p class="text-center img">
          <img src="assets/img/svg/cardwithdraw.svg" alt="" />
        </p>
        <p class="text-center fs-30 fc-purple fw-7 ff-r">Cash withdrawals</p>
        <p class="text-center fs-18 fc-grey fw-4 ff-r">
          Your local community members will be saved the cost and stress of
          queuing at an ATM for cash by simply coming to you.
        </p>
      </div>
      <div class="col-lg-4 mb-3" data-aos="fade-up" data-aos-duration="900">
        <p class="text-center img mb-5 pt-4">
          <img src="assets/img/svg/bills.svg" alt="" />
        </p>
        <p class="text-center fs-30 fc-purple fw-7 ff-r">
          Bill and Utility payments
        </p>
        <p class="text-center fs-18 fc-grey fw-4 ff-r">
          Our community members will come to you for their quick bill and
          utility payments. This covers electricity payments ,cable subscription
          (GOTV, DSTV, Startimes, etc), airtime recharge, bet wallet funding
          etc. Quick and easy, no hassle!
        </p>
      </div>
    </div>
  </div>
</section>
<section id="choose">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-3">
        <p class="fw-7 ff-r fc-purple fs-42" data-aos="fade-up" data-aos-duration="200">
          Why Should You<br />
          Choose Us?
        </p>
        <div class="d-flex mb-3" data-aos="fade-up" data-aos-duration="400">
          <div class="mr-2">
            <img src="assets/img/svg/bullet.svg" alt="" />
          </div>
          <div class="">
            <p class="ff-r fs-18 fc-grey">
              <span class="fc-purple fw-7">We are reliable.</span> You never
              have to worry about our availability.
            </p>
          </div>
        </div>
        <div class="d-flex mb-3" data-aos="fade-up" data-aos-duration="600">
          <div class="mr-2">
            <img src="assets/img/svg/bullet.svg" alt="" />
          </div>
          <div class="">
            <p class="ff-r fs-18 fc-grey">
              <span class="fc-purple fw-7">Fast network.</span> There are no
              lags or delays in transactions with us. You will be able to attend
              to your customers’ needs as quickly and efficiently as possible.
            </p>
          </div>
        </div>
        <div class="d-flex mb-3" data-aos="fade-up" data-aos-duration="800">
          <div class="mr-2">
            <img src="assets/img/svg/bullet.svg" alt="" />
          </div>
          <div class="">
            <p class="ff-r fs-18 fc-grey">
              <span class="fc-purple fw-7">Affordable.</span> Our charges are
              very affordable. This means that your customers will not be
              overcharged and you still make a pretty sweet profit.
            </p>
          </div>
        </div>
        <div class="d-flex mb-3" data-aos="fade-up" data-aos-duration="1000">
          <div class="mr-2">
            <img src="assets/img/svg/bullet.svg" alt="" />
          </div>
          <div class="">
            <p class="ff-r fs-18 fc-grey">
              <span class="fc-purple fw-7">Trust.</span> You can trust that we
              will always give you the best of services and your customers will
              always come back.
            </p>
          </div>
        </div>
       
      </div>
      <div class="col-lg-6 mb-3">
        <p class="text-center pt-lg-5" data-aos="fade-up" data-aos-duration="600">
          <img src="assets/img/phone3.png" class="img-fluid" alt="" />
        </p>
      </div>
    </div>
  </div>
</section>

<section id="agent-new">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1 order-2">
        <p class="text-center">
          <img src="assets/img/phone4.png" alt="" class="img-fluid" data-aos="fade-up" data-aos-duration="400" />
        </p>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <p class="fw-7 ff-r fc-purple fs-42" data-aos="fade-up" data-aos-duration="200">
          Becoming an Independent Tellerpay Agent is as easy
        </p>
        <div class="steppers">
          <div class="step" data-aos="fade-up" data-aos-duration="400">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              Download the app here and register as an agent.
            </div>
          </div>

          <div class="step" data-aos="fade-up" data-aos-duration="600">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">Fund your wallet.</div>
          </div>

          <div class="step" data-aos="fade-up" data-aos-duration="800">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              Link your wallet with the POS terminal (that will be provided by
              us).
            </div>
          </div>
        </div>
        <p class="ff-l fc-purple fs-48" data-aos="fade-up" data-aos-duration="1000">Voila!</p>
        <p class="ff-r fc-grey fs-24" data-aos="fade-up" data-aos-duration="1000">You are now a Tellerpay agent</p>
      </div>
    </div>
  </div>
</section>
<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center fc-grey ff-r fs-24">
          DOWNLOAD THE MOBILE APP AND
        </p>
      </div>
      <div class="col-lg-12">
        <p class="fw-7 ff-r fc-purple fs-42 text-center">
          Get started on your<br />
          spoke’s journey
        </p>
      </div>
      <div class="col-lg-5 m-auto">
        <div class="row">
          <div class="col-6">
            <a
              href="https://play.google.com/store/apps/details?id=ng.tellerpay.telleragent"
              target="_blank"
            >
              <img src="assets/img/getongoogle2.png" alt="" />
            </a>
          </div>
          <div class="col-6">
            <a href="" target="_blank">
              <img src="assets/img/getonapp.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
